## 1. Exercício : Crie uma Série a partir de uma lista de 5 números e exiba seus valores e índices.

In [4]:
import pandas as pd

# Criando uma Série a partir de uma lista de 5 números
data = [10, 20, 30, 40, 50]
series = pd.Series(data)

# Exibindo os valores e índices da Série
print("Valores da Série:")
print(series.values)
print("Índices da Série:")
print(series.index)
print("Série completa:")
print(series)

Valores da Série:
[10 20 30 40 50]
Índices da Série:
RangeIndex(start=0, stop=5, step=1)
Série completa:
0    10
1    20
2    30
3    40
4    50
dtype: int64

#### 2. Exercício : Crie um DataFrame a partir do seguinte dicionário de dados e exiba as colunas e os índices.

In [5]:
import pandas as pd

# Dicionário de dados
dados = {
    'Nome': ['Ana', 'Bruno', 'Carlos', 'Daniela', 'Eduardo'],
    'Idade': [23, 35, 45, 22, 30],
    'Cidade': ['São Paulo', 'Rio de Janeiro', 'Belo Horizonte', 'Porto Alegre', 'Curitiba']
}

# Criando o DataFrame
df = pd.DataFrame(dados)

# Exibindo as colunas e os índices do DataFrame
print("Colunas do DataFrame:")
print(df.columns)
print("Índices do DataFrame:")
print(df.index)
print("DataFrame completo:")
print(df)

Colunas do DataFrame:
Index(['Nome', 'Idade', 'Cidade'], dtype='object')
Índices do DataFrame:
RangeIndex(start=0, stop=5, step=1)
DataFrame completo:
      Nome  Idade          Cidade
0      Ana     23       São Paulo
1    Bruno     35  Rio de Janeiro
2   Carlos     45  Belo Horizonte
3  Daniela     22    Porto Alegre
4  Eduardo     30        Curitiba

### 3. Exercício : Adicione uma coluna 'Desconto' ao DataFrame criado no exercício 2, onde o desconto é 10% do preço.

In [6]:
import pandas as pd

# Dicionário de dados (incluindo a coluna 'Preço')
dados = {
    'Nome': ['Ana', 'Bruno', 'Carlos', 'Daniela', 'Eduardo'],
    'Idade': [23, 35, 45, 22, 30],
    'Cidade': ['São Paulo', 'Rio de Janeiro', 'Belo Horizonte', 'Porto Alegre', 'Curitiba'],
    'Preço': [100, 200, 300, 400, 500]  # Valores fictícios para a coluna 'Preço'
}

# Criando o DataFrame
df = pd.DataFrame(dados)

# Adicionando a coluna 'Desconto' (10% do preço)
df['Desconto'] = df['Preço'] * 0.10

# Exibindo o DataFrame completo
print("DataFrame com a coluna 'Desconto':")
print(df)

DataFrame com a coluna 'Desconto':
      Nome  Idade          Cidade  Preço  Desconto
0      Ana     23       São Paulo    100      10.0
1    Bruno     35  Rio de Janeiro    200      20.0
2   Carlos     45  Belo Horizonte    300      30.0
3  Daniela     22    Porto Alegre    400      40.0
4  Eduardo     30        Curitiba    500      50.0

#### 4. Exercício : Usando o DataFrame criado na aula, selecione todos os funcionários com idade superior a 30 anos e exiba apenas as colunas 'Nome' e 'Idade'.

In [7]:
import pandas as pd

# Dicionário de dados (incluindo a coluna 'Preço' e 'Desconto')
dados = {
    'Nome': ['Ana', 'Bruno', 'Carlos', 'Daniela', 'Eduardo'],
    'Idade': [23, 35, 45, 22, 30],
    'Cidade': ['São Paulo', 'Rio de Janeiro', 'Belo Horizonte', 'Porto Alegre', 'Curitiba'],
    'Preço': [100, 200, 300, 400, 500],  # Valores fictícios para a coluna 'Preço'
    'Desconto': [10.0, 20.0, 30.0, 40.0, 50.0]  # Descontos já calculados
}

# Criando o DataFrame
df = pd.DataFrame(dados)

# Filtrando funcionários com idade superior a 30 anos
filtro = df['Idade'] > 30

# Selecionando as colunas 'Nome' e 'Idade'
resultado = df.loc[filtro, ['Nome', 'Idade']]

# Exibindo o resultado
print("Funcionários com idade superior a 30 anos:")
print(resultado)

Funcionários com idade superior a 30 anos:
     Nome  Idade
1   Bruno     35
2  Carlos     45

#### 5. Exercício : Crie um novo DataFrame com os mesmos dados do DataFrame original, mas sem a coluna 'Salário'. Em seguida, adicione uma coluna 'Imposto' onde o valor é 15% do salário original.

In [12]:
import pandas as pd

# Dicionário de dados original
dados = {
    'Nome': ['Ana', 'Bruno', 'Carlos', 'Daniela', 'Eduardo'],
    'Idade': [23, 35, 45, 22, 30],
    'Cidade': ['São Paulo', 'Rio de Janeiro', 'Belo Horizonte', 'Porto Alegre', 'Curitiba'],
    'Salário': [3000, 4000, 5000, 2500, 3500]
}

# Criando o DataFrame original
df = pd.DataFrame(dados)

# Criando um novo DataFrame sem a coluna 'Salário'
df_sem_salario = df.drop(columns=['Salário'])

# Adicionando a coluna 'Imposto' (15% do salário original)
df_sem_salario['Imposto'] = df['Salário'] * 0.15

# Exibindo o novo DataFrame
print("Novo DataFrame sem a coluna 'Salário' e com a coluna 'Imposto':")
print(df_sem_salario)

Novo DataFrame sem a coluna 'Salário' e com a coluna 'Imposto':
      Nome  Idade          Cidade  Imposto
0      Ana     23       São Paulo    450.0
1    Bruno     35  Rio de Janeiro    600.0
2   Carlos     45  Belo Horizonte    750.0
3  Daniela     22    Porto Alegre    375.0
4  Eduardo     30        Curitiba    525.0

#### 6. Exercício : Crie um DataFrame a partir do seguinte dicionário de dados:

In [11]:
import pandas as pd

# Dicionário de dados
dados = {
    'Nome': ['Ana', 'Bruno', 'Carlos', 'Daniela', 'Eduardo'],
    'Idade': [23, 35, 45, 22, 30],
    'Cidade': ['São Paulo', 'Rio de Janeiro', 'Belo Horizonte', 'Porto Alegre', 'Curitiba'],
    'Salário': [3000, 4000, 5000, 2500, 3500]
}

# Criando o DataFrame
df = pd.DataFrame(dados)

# Exibindo o DataFrame
print("DataFrame criado a partir do dicionário de dados:")
print(df)

DataFrame criado a partir do dicionário de dados:
      Nome  Idade          Cidade  Salário
0      Ana     23       São Paulo     3000
1    Bruno     35  Rio de Janeiro     4000
2   Carlos     45  Belo Horizonte     5000
3  Daniela     22    Porto Alegre     2500
4  Eduardo     30        Curitiba     3500